// settings/_index.scss

@forward "variables/breakpoints";
@forward "variables/colors";
@forward "variables/debug";
@forward "variables/radius";
@forward "variables/shadows";
@forward "variables/sizing";
@forward "variables/spacing";
@forward "variables/transition";
@forward "variables/typography";
@forward "derived";