/* layout/_container.scss */

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;

  @include respond-to('sm') {
    max-width: 640px;
  }
  @include respond-to('md') {
    max-width: 768px;
  }
  @include respond-to('lg') {
    max-width: 1024px;
  }
  @include respond-to('xl') {
    max-width: 1200px;
  }
}