/* components/_buttons.scss */ 

@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use 'sass:map';
@use 'sass:color';

.btn {
  background-color: #fff;
  color: #000;
  padding: map.get($spacers, 2) map.get($spacers, 4);

  border-width: 2px;
  border-style: solid;
  border-radius: map.get($radiuses, 2);
  cursor: pointer;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;

  // @include generate-buttons(); // all theme colors
  @include generate-buttons($only: ('primary'), $mix: black);
  @include generate-buttons($only: ('secondary'), $mix: black);
  @include generate-buttons($only: ('accent'), $mix: white);
  @include generate-buttons($only: ('highlight'), $mix: white);
}