/* abstracts/mixins/_buttons.scss */

@use '../variables' as vars;
@use '../functions' as func;
@use 'sass:map';
@use 'sass:list';
@use 'sass:color';

@mixin button-variant($name, $bg-color, $mix) {
  $text-color: func.yiq-contrast-color($bg-color);

  &--#{$name} {
    color: $text-color;
    background-color: $bg-color;
    border-color: $text-color;

    &:hover {
      $hover-color: color.mix($mix, $bg-color, 20%);
      background-color: $hover-color;
      color: func.yiq-contrast-color($hover-color);
    }

    &.btn--outline {
      background-color: transparent;
      border-color: $bg-color;
      color: $bg-color;
      
      &:hover {
        $hover-color: color.mix($mix, $bg-color, 20%);
        background-color: $hover-color;
        color: func.yiq-contrast-color($hover-color);
      }
    }
  }
}

@mixin generate-buttons($only: null, $mix: black) {
  @each $name, $color in vars.$colors {
    @if $only == null or list.index($only, $name) {
      @include button-variant($name, $color, $mix);
    }
  }
}