/* components/_columns.scss */ 

@use "sass:map";

@use '../settings/mixins' as m;

$sizes: ("20": 20, "25": 25, "33": 33, "40": 40, "50": 50, "60": 60, "66": 66, "75": 75, "80": 80, "100": 100 ) !default;

.columns {
  display: flex;
  flex-direction: column;

  @include m.respond-to('md') {
    flex-direction: row;
  }

  .column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding-inline: var(--column-gap);

    .column__label {
      // padding-block: 
    }

    @each $name, $value in $sizes {
      &--#{$name} {
        width: #{$value} + '%';
        flex: none;
      }
    }
  }
}