/* components/_columns.scss */ 

@use '../settings/mixins' as m;

.columns {
  display: flex;
  flex-direction: column;

  @include m.respond-to('md') {
    flex-direction: row;
  }

  .column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: var(--column-gap);
  }
}