/* layout/_container.scss */

@use 'sass:map';

@use '../settings' as s;
@use '../settings/mixins' as m;

.container {
  width: 100%;
  margin: 0 auto;

  @each $bp, $max in s.$container-max-widths {
    @include m.respond-to($bp) {
      max-width: $max;
    }
  }
}