/* base/_root-vars.scss */

@use "sass:map";
@use "sass:color";

@use "../settings" as s;

@function rgb-triplet($c) {
  @return "#{color.channel($c, "red", $space: rgb)}, #{color.channel($c, "green", $space: rgb)}, #{color.channel($c, "blue", $space: rgb)}";
}

// Root vars: Public runtime token surface
:root {
  /* colors */
  @each $name, $value in s.$colors {
    --color-#{$name}: #{$value};

    // Only generate rgb triplets for actual colors (skip nulls if any)
    @if $value != null {
      --color-#{$name}-rgb: #{rgb-triplet($value)};
    }
  }

  --color-gray: #{s.$color-gray};
  --color-gray-rgb:  #{rgb-triplet(s.$color-gray)};

  --color-body-bg: #{s.$color-body-bg};
  --color-body-bg-rgb: #{rgb-triplet(s.$color-body-bg)};
  --color-body-text: #{s.$color-body-text};
  --color-body-text-rgb: #{rgb-triplet(s.$color-body-text)};

  --color-border: #{s.$color-border};
  --color-border-rgb: #{rgb-triplet(s.$color-border)};
  --color-border-hover: #{s.$color-border-hover};
  --color-border-hover-rgb: #{rgb-triplet(s.$color-border-hover)};

  --color-link: #{s.$color-link};
  --color-link-rgb: #{rgb-triplet(s.$color-link)};
  --color-link-hover: #{s.$color-link-hover};
  --color-link-hover-rgb: #{rgb-triplet(s.$color-link-hover)};

  --color-success: #{s.$color-success};
  --color-info: #{s.$color-info};
  --color-warning: #{s.$color-warning};
  --color-danger: #{s.$color-danger};

  --color-white: #{s.$color-fill-white};
  --color-black: #{s.$color-fill-black};

  /* typography */
  --font-body: #{s.$font-body};
  --font-heading: #{s.$font-heading};
  --font-monospace: #{s.$font-monospace};
  --font-size-base: #{s.$font-size-base};
  @each $val in s.$font-weights {
    --font-weight-#{$val}: #{$val};
  }
  @each $name, $val in s.$font-sizes {
    --font-size-#{$name}: #{$val};
  }

  /* transition */
  --transition-function-base: #{s.$cubic-bezier-base};
  --transition-time-base: #{s.$transition-time-base};

  /* spacing scale */
  @each $step, $val in s.$spacers {
    --space-#{$step}: #{$val};
  }

  /* radius scale */
  @each $step, $val in s.$radiuses {
    --radius-#{$step}: #{$val};
  }

  /* shadows */
  @each $step, $val in s.$shadows {
    --shadow-#{$step}: #{$val};
  }

  --column-gap: #{s.$column-gap};

  /* buttons */
  --button-border-radius: #{s.$button-border-radius};

  /* fields */
  --field-block-spacer: #{s.$field-block-spacer};
  --label-block-spacer: #{s.$label-block-spacer};
  --input-radius: #{s.$input-radius};
  --input-focus-shadow-size: #{s.$input-focus-shadow-size};
  --input-padding-vertical: #{s.$input-padding-vertical};
  --input-padding-horizontal: #{s.$input-padding-horizontal};
}