/* base/_root-vars.scss */

@use "sass:map";
@use "sass:color";

@use "../settings" as s;

@function rgb-triplet($c) {
  @return "#{color.channel($c, "red", $space: rgb)}, #{color.channel($c, "green", $space: rgb)}, #{color.channel($c, "blue", $space: rgb)}";
}

// Root vars: Public runtime token surface
:root {
  /* colors */
  @each $name, $value in s.$colors {
    --color-#{$name}: #{$value};

    // Only generate rgb triplets for actual colors (skip nulls if any)
    @if $value != null {
      --color-#{$name}-rgb: #{rgb-triplet($value)};
    }
  }

  --color-muted: #{s.$color-muted};
  --color-muted-rgb:  #{rgb-triplet(s.$color-muted)};

  --color-body-bg: #{s.$color-body-bg};
  --color-body-bg-rgb: #{rgb-triplet(s.$color-body-bg)};
  --color-body-text: #{s.$color-body-text};
  --color-body-text-rgb: #{rgb-triplet(s.$color-body-text)};

  --color-border: #{s.$color-border};
  --color-border-rgb: #{rgb-triplet(s.$color-border)};
  --color-border-hover: #{s.$color-border-hover};
  --color-border-hover-rgb: #{rgb-triplet(s.$color-border-hover)};

  --color-link: #{s.$color-link};
  --color-link-rgb: #{s.$color-link};
  --color-link-hover: #{s.$color-link-hover};
  --color-link-hover-rgb: #{s.$color-link-hover};

  --color-success: #{s.$color-success};
  --color-info: #{s.$color-info};
  --color-warning: #{s.$color-warning};
  --color-danger: #{s.$color-danger};

  /* typography */
  --font-body: #{s.$font-body};
  --font-heading: #{s.$font-heading};
  --font-monospace: #{s.$font-monospace};
  --font-size-base: #{s.$font-size-base};

  /* spacing scale */
  @each $step, $val in s.$spacers {
    --space-#{$step}: #{$val};
  }

  /* radius scale */
  @each $step, $val in s.$radiuses {
    --radius-#{$step}: #{$val};
  }

  /* shadows */
  @each $step, $val in s.$shadows {
    --shadow-#{$step}: #{$val};
  }

  --column-gap: #{s.$column-gap};
}