/* settings/variables/_breakpoints.scss */

$breakpoints: (
  xs: 0,    // Mobile-first
  sm: 30em, // ~480px
  md: 48em, // ~768px
  lg: 64em, // ~1024px
  xl: 75em  // ~1200px
) !default;

$container-max-widths: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1200px
) !default;