$color-primary: #1f7a5c !default;
$color-secondary: #434849 !default;
$color-accent: #643173 !default;

$color-body-bg: #ffffff !default;
$color-body-text: #212925 !default;
$color-gray: #858585 !default;
$color-border: #dbdddd !default;
$color-border-hover: #cccccc !default;

$color-link: #43489d !default;
$color-link-hover: #343777 !default;

$color-success: #1f7a4b !default;
$color-info:    #0f5c8c !default;
$color-warning: #b7791f !default;
$color-danger:  #b03a2e !default;

$color-fill-white: #fff;
$color-fill-black: #000;
$color-fill-off-white: #f2f4f7 !default;

$color-surface: #ffffff !default;
$color-surface-strength: 88% !default;
