$shadows: (
  0: none,
  1: 0 .125rem .25rem rgba(black, .05),
  2: 0 .25rem 0.5rem rgba(black, .075),
  3: 0 1rem 3rem rgba(black, .125)
) !default;

$input-focus-shadow-size: 0 0 0 0.1875em !important;